

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
}

.left-side {
  width: 50%;
  height: 100%;
  background-color: blue;
  display: flex;
  flex-flow: column;
}

.right-side {
  width: 50%;
  height: 100%;
  background-color: green;
}

.editor {
  width: 50%;
  height: 50%;
}